Question 1: [Macro] Average growth of GDP in 2023
What is the average growth (in %) of GDP in 2023?

Download the timeseries Real Gross Domestic Product (GDPC1) from FRED (https://fred.stlouisfed.org/series/GDPC1). Calculate year-over-year (YoY) growth rate (that is, divide current value to one 4 quarters ago). Find the average YoY growth in 2023 (average from 4 YoY numbers). Round to 1 digit after the decimal point: e.g. if you get 5.66% growth => you should answer 5.7

In [1]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

In [2]:
end = date.today()
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

start = date(year=end.year-70, month=end.month, day=end.day)
print(f'Period for indexes: {start} to {end} ')

Year = 2024; month= 4; day=22
Period for indexes: 1954-04-22 to 2024-04-22

In [3]:
#Downloading the Real Gross Domestic Product Timeseries
gdpc1_df = pdr.DataReader('GDPC1','fred',start=start)

In [4]:
gdpc1_df

                GDPC1
DATE
1954-07-01   2880.482
1954-10-01   2936.852
1955-01-01   3020.746
1955-04-01   3069.910
1955-07-01   3111.379
...               ...
2022-10-01  21989.981
2023-01-01  22112.329
2023-04-01  22225.350
2023-07-01  22490.692
2023-10-01  22679.255

[278 rows x 1 columns]

In [5]:
#Calculating Year-Over-Year Growth Rate
gdpc1_df['gdpc1_df_us_yoy'] = gdpc1_df.GDPC1/gdpc1_df.GDPC1.shift(4)-1

In [6]:
gdpc1_df

                GDPC1  gdpc1_df_us_yoy
DATE
1954-07-01   2880.482              NaN
1954-10-01   2936.852              NaN
1955-01-01   3020.746              NaN
1955-04-01   3069.910              NaN
1955-07-01   3111.379         0.080159
...               ...              ...
2022-10-01  21989.981         0.006517
2023-01-01  22112.329         0.017179
2023-04-01  22225.350         0.023825
2023-07-01  22490.692         0.029269
2023-10-01  22679.255         0.031345

[278 rows x 2 columns]

In [8]:
gdpc1_df['2023-01-01':'2023-10-01'].isna().any()

GDPC1              False
gdpc1_df_us_yoy    False
dtype: bool

In [12]:
print('The average growth (in %) of GDP in 2023 =',round((gdpc1_df['2023-01-01':'2023-10-01']['gdpc1_df_us_yoy'].mean())*100,1))

The average growth (in %) of GDP in 2023 = 2.5

Question 2. [Macro] Inverse "Treasury Yield"
Find the min value of (dgs10-dgs2) after since year 2000 (2000-01-01) and write it down as an answer, round to 1 digit after the decimal point.

Download DGS2 and DGS10 interest rates series (https://fred.stlouisfed.org/series/DGS2, https://fred.stlouisfed.org/series/DGS10). Join them together to one dataframe on date (you might need to read about pandas.DataFrame.join()), calculate the difference dgs10-dgs2 daily.

(Additional: think about what does the "inverted yield curve" mean for the market and investors? do you see the same thing in your country/market of interest? Do you think it can be a good predictive feature for the models?)

In [13]:
dgs2_df = pdr.DataReader('DGS2','fred',start=start)

In [14]:
dgs2_df

            DGS2
DATE
1976-06-01  7.26
1976-06-02  7.23
1976-06-03  7.22
1976-06-04  7.12
1976-06-07  7.09
...          ...
2024-04-12  4.88
2024-04-15  4.93
2024-04-16  4.97
2024-04-17  4.93
2024-04-18  4.98

[12493 rows x 1 columns]

In [15]:
dgs10_df = pdr.DataReader('DGS10','fred',start=start)

In [16]:
dgs10_df

            DGS10
DATE
1962-01-02   4.06
1962-01-03   4.03
1962-01-04   3.99
1962-01-05   4.02
1962-01-08   4.03
...           ...
2024-04-12   4.50
2024-04-15   4.63
2024-04-16   4.67
2024-04-17   4.59
2024-04-18   4.64

[16253 rows x 1 columns]

In [17]:
dgs_join_df=dgs10_df.join(dgs2_df)

In [18]:
dgs_join_df

            DGS10  DGS2
DATE
1962-01-02   4.06   NaN
1962-01-03   4.03   NaN
1962-01-04   3.99   NaN
1962-01-05   4.02   NaN
1962-01-08   4.03   NaN
...           ...   ...
2024-04-12   4.50  4.88
2024-04-15   4.63  4.93
2024-04-16   4.67  4.97
2024-04-17   4.59  4.93
2024-04-18   4.64  4.98

[16253 rows x 2 columns]

In [19]:
dgs_join_df['dgs10-dgs2']=dgs_join_df.DGS10 - dgs_join_df.DGS2

In [20]:
dgs_join_df

            DGS10  DGS2  dgs10-dgs2
DATE
1962-01-02   4.06   NaN         NaN
1962-01-03   4.03   NaN         NaN
1962-01-04   3.99   NaN         NaN
1962-01-05   4.02   NaN         NaN
1962-01-08   4.03   NaN         NaN
...           ...   ...         ...
2024-04-12   4.50  4.88       -0.38
2024-04-15   4.63  4.93       -0.30
2024-04-16   4.67  4.97       -0.30
2024-04-17   4.59  4.93       -0.34
2024-04-18   4.64  4.98       -0.34

[16253 rows x 3 columns]

In [25]:
dgs_join_df['2000-01-01':].isna().any()

DGS10         True
DGS2          True
dgs10-dgs2    True
dtype: bool

In [30]:
d = dgs_join_df['2000-01-01':]['dgs10-dgs2'].dropna()

In [37]:
print(' The min value of (dgs10-dgs2) since year 2000 =',round(d.min(),1))

 The min value of (dgs10-dgs2) since year 2000 = -1.1

Question 3. [Index] Which Index is better recently?
Compare S&P 500 and IPC Mexico indexes by the 5 year growth and write down the largest value as an answer (%)

Download on Yahoo Finance two daily index prices for S&P 500 (^GSPC, https://finance.yahoo.com/quote/%5EGSPC/) and IPC Mexico (^MXX, https://finance.yahoo.com/quote/%5EMXX/). Compare 5Y growth for both (between 2019-04-09 and 2024-04-09). Select the higher growing index and write down the growth in % (closest integer %). E.g. if ratio end/start was 2.0925 (or growth of 109.25%), you need to write down 109 as your answer.

(Additional: think of other indexes and try to download stats and compare the growth? Do create 10Y and 20Y growth stats. What is an average yearly growth rate (CAGR) for each of the indexes you select?)

In [38]:
#S&P Index
gspc_daily = yf.download(tickers = "^GSPC",period = "max",interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [40]:
gspc_daily

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1927-12-30,17.660000,17.660000,17.660000,17.660000,17.660000,0
1928-01-03,17.760000,17.760000,17.760000,17.760000,17.760000,0
1928-01-04,17.719999,17.719999,17.719999,17.719999,17.719999,0
1928-01-05,17.549999,17.549999,17.549999,17.549999,17.549999,0
1928-01-06,17.660000,17.660000,17.660000,17.660000,17.660000,0
...,...,...,...,...,...,...
2024-04-15,5149.669922,5168.430176,5052.470215,5061.819824,5061.819824,3950210000
2024-04-16,5064.589844,5079.839844,5039.830078,5051.410156,5051.410156,4006200000
2024-04-17,5068.970215,5077.959961,5007.250000,5022.209961,5022.209961,3596130000
2024-04-18,5031.520020,5056.660156,5001.890137,5011.120117,5011.120117,3619760000
2024-04-19,5005.439941,5019.020020,4953.560059,4967.229980,4967.229980,3878750000

In [39]:
gspc_daily['2019-04-09':].isna().any()

Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [42]:
print(round((gspc_daily.loc['2024-04-09']['Close'] / gspc_daily.loc['2019-04-09']['Close']-1)*100))

81

In [43]:
#IPC MEXICO
mxx_daily = yf.download(tickers = "^MXX",period = "max",interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [44]:
mxx_daily

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1991-11-08,1418.800049,1418.800049,1418.800049,1418.800049,1418.800049,0
1991-11-11,1416.900024,1416.900024,1416.900024,1416.900024,1416.900024,0
1991-11-12,1445.400024,1445.400024,1445.400024,1445.400024,1445.400024,0
1991-11-13,1453.400024,1453.400024,1453.400024,1453.400024,1453.400024,0
1991-11-14,1459.300049,1459.300049,1459.300049,1459.300049,1459.300049,0
...,...,...,...,...,...,...
2024-04-16,56009.730469,56148.000000,55626.750000,55797.250000,55797.250000,225862900
2024-04-17,55788.738281,56090.320312,55383.250000,55415.691406,55415.691406,244258900
2024-04-18,55597.789062,55941.621094,55585.820312,55739.429688,55739.429688,208671900
2024-04-19,55811.191406,56036.718750,55579.691406,55862.851562,55862.851562,138617600
2024-04-22,55852.281250,56138.351562,55779.238281,55857.550781,55857.550781,2148353

In [46]:
mxx_daily['2019-04-09':].isna().any()

Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [47]:
print(round((mxx_daily.loc['2024-04-09']['Close'] / mxx_daily.loc['2019-04-09']['Close']-1)*100))

28

In [48]:
print('The S&P 500 index grow by 81 %')

The S&P 500 index grow by 81 %

Question 4. [Stocks OHLCV] 52-weeks range ratio (2023) for the selected stocks
Find the largest range ratio [=(max-min)/max] of Adj.Close prices in 2023

Download the 2023 daily OHLCV data on Yahoo Finance for top6 stocks on earnings (https://companiesmarketcap.com/most-profitable-companies/): 2222.SR,BRK-B, AAPL, MSFT, GOOG, JPM.

Here is the example data you should see in Pandas for "2222.SR": https://finance.yahoo.com/quote/2222.SR/history

Calculate maximum-minimim "Adj.Close" price for each stock and divide it by the maximum "Adj.Close" value. Round the result to two decimal places (e.g. 0.1575 will be 0.16)

(Additional: why this may be important for your research?)

In [49]:
#OHLCV data on Yahoo Finance for Saudi Aramco stock on earnings
saudiaramco_daily = yf.download(tickers = "2222.SR",period = "max",interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [50]:
saudiaramco_daily['2023-01-01':'2023-12-31']

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-01-01  29.227272  29.454544  29.181818  29.454544  28.475794   1569087
2023-01-02  29.545454  29.545454  29.227272  29.227272  28.256075   4693364
2023-01-03  29.227272  29.227272  29.227272  29.227272  28.256075         0
2023-01-04  29.181818  29.227272  28.681818  28.818180  27.860575   4618455
2023-01-05  28.818180  28.818180  28.363636  28.681818  27.728743   4797670
...               ...        ...        ...        ...        ...       ...
2023-12-25  33.000000  33.099998  32.849998  33.099998  32.927525  15869070
2023-12-26  33.049999  33.099998  32.900002  33.049999  32.877789  14598967
2023-12-27  33.099998  33.250000  33.000000  33.150002  32.977268  14815683
2023-12-28  33.150002  33.250000  32.950001  33.049999  32.877789  12720450
2023-12-31  33.049999  33.099998  32.900002  33.000000  32.828049  10776909

[249 rows x 6 columns]

In [51]:
saudiaramco_daily['2023-01-01':'2023-12-31'].isna().any()

Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [52]:
print(round((saudiaramco_daily['2023-01-01':'2023-12-31']['Adj Close'].max() - saudiaramco_daily['2023-01-01':'2023-12-31']['Adj Close'].min())/saudiaramco_daily['2023-01-01':'2023-12-31']['Adj Close'].max(),2))

0.21

In [53]:
#OHLCV data on Yahoo Finance for Berkshire Hathaway stock on earnings
berkhath_daily = yf.download(tickers = "BRK-B",period = "max",interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [54]:
berkhath_daily

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1996-05-09,22.200001,24.400000,22.200001,23.200001,23.200001,4290000
1996-05-10,24.000000,24.200001,23.600000,24.000000,24.000000,1060000
1996-05-13,24.000000,24.100000,23.299999,23.900000,23.900000,700000
1996-05-14,24.000000,24.100000,23.100000,23.600000,23.600000,310000
1996-05-15,23.600000,23.700001,23.000000,23.200001,23.200001,545000
...,...,...,...,...,...,...
2024-04-16,400.970001,401.250000,396.500000,396.920013,396.920013,3435500
2024-04-17,398.940002,399.279999,395.660004,397.739990,397.739990,2465600
2024-04-18,399.700012,402.989990,399.100006,399.890015,399.890015,2669500
2024-04-19,401.040009,405.570007,400.170013,405.079987,405.079987,3996100
2024-04-22,406.839996,408.593292,406.510010,407.690002,407.690002,560948

In [103]:
berkhath_daily['2023-01-01':'2023-12-31']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,310.070007,312.390015,307.380005,309.910004,309.910004,3549900
2023-01-04,312.000000,316.890015,311.250000,314.549988,314.549988,5121200
2023-01-05,313.570007,314.230011,310.000000,312.899994,312.899994,3416300
2023-01-06,315.000000,320.160004,313.380005,318.690002,318.690002,3647900
2023-01-09,319.019989,320.500000,314.750000,315.529999,315.529999,4397400
...,...,...,...,...,...,...
2023-12-22,356.500000,358.260010,355.410004,356.470001,356.470001,2332200
2023-12-26,356.899994,357.769989,356.079987,356.829987,356.829987,1964400
2023-12-27,355.929993,357.079987,355.500000,356.950012,356.950012,2478500
2023-12-28,357.480011,358.679993,356.730011,357.570007,357.570007,2740600
2023-12-29,357.559998,357.859985,355.309998,356.660004,356.660004,3269400

In [55]:
berkhath_daily['2023-01-01':'2023-12-31'].isna().any()

Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [56]:
print(round((berkhath_daily['2023-01-01':'2023-12-31']['Adj Close'].max() - berkhath_daily['2023-01-01':'2023-12-31']['Adj Close'].min())/berkhath_daily['2023-01-01':'2023-12-31']['Adj Close'].max(),2))

0.21

In [57]:
#OHLCV data on Yahoo Finance for Apple stock on earnings
apple_daily = yf.download(tickers = "AAPL",period = "max",interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [58]:
apple_daily['2023-01-01':'2023-12-31'].isna().any()

Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [59]:
print(round((apple_daily['2023-01-01':'2023-12-31']['Adj Close'].max() - apple_daily['2023-01-01':'2023-12-31']['Adj Close'].min())/apple_daily['2023-01-01':'2023-12-31']['Adj Close'].max(),2))

0.37

In [60]:
#OHLCV data on Yahoo Finance for Microsoft stock on earnings
micro_daily = yf.download(tickers = "MSFT",period = "max",interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [61]:
micro_daily['2023-01-01':'2023-12-31'].isna().any()

Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [62]:
print(round((micro_daily['2023-01-01':'2023-12-31']['Adj Close'].max() - micro_daily['2023-01-01':'2023-12-31']['Adj Close'].min())/micro_daily['2023-01-01':'2023-12-31']['Adj Close'].max(),2))

0.42

In [63]:
#OHLCV data on Yahoo Finance for Google stock on earnings
google_daily = yf.download(tickers = "GOOG",period = "max",interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [64]:
google_daily['2023-01-01':'2023-12-31'].isna().any()

Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [65]:
print(round((google_daily['2023-01-01':'2023-12-31']['Adj Close'].max() - google_daily['2023-01-01':'2023-12-31']['Adj Close'].min())/google_daily['2023-01-01':'2023-12-31']['Adj Close'].max(),2))

0.39

In [66]:
#OHLCV data on Yahoo Finance for JPMorgan Chase stock on earnings
jpmc_daily = yf.download(tickers = "JPM",period = "max",interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [67]:
jpmc_daily['2023-01-01':'2023-12-31'].isna().any()

Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [68]:
print(round((jpmc_daily['2023-01-01':'2023-12-31']['Adj Close'].max() - jpmc_daily['2023-01-01':'2023-12-31']['Adj Close'].min())/jpmc_daily['2023-01-01':'2023-12-31']['Adj Close'].max(),2))

0.28

In [69]:
print('The largest range ratio [=(max-min)/max] of Adj.Close prices in 2023 = 0.42(Microsoft)')

The largest range ratio [=(max-min)/max] of Adj.Close prices in 2023 = 0.42(Microsoft)

Question 5. [Stocks] Dividend Yield
Find the largest dividend yield for the same set of stocks

Use the same list of companies (2222.SR,BRK-B, AAPL, MSFT, GOOG, JPM) and download all dividends paid in 2023. You can use get_actions() method or .dividends field in yfinance library (https://github.com/ranaroussi/yfinance?tab=readme-ov-file#quick-start)

Sum up all dividends paid in 2023 per company and divide each value by the closing price (Adj.Close) at the last trading day of the year.

Find the maximum value in % and round to 1 digit after the decimal point. (E.g., if you obtained $1.25 dividends paid and the end year stock price is $100, the dividend yield is 1.25% -- and your answer should be equal to 1.3)

In [83]:
saudiaramco = yf.Ticker("2222.SR")

In [84]:
saudiaramco.actions

                           Dividends  Stock Splits
Date
2020-03-19 00:00:00+03:00   0.060992           0.0
2020-05-31 00:00:00+03:00   0.290744           0.0
2020-06-04 00:00:00+03:00   0.000000           1.1
2020-06-08 00:00:00+03:00   0.000000           1.1
2020-08-12 00:00:00+03:00   0.290744           0.0
2020-11-10 00:00:00+03:00   0.290744           0.0
2021-03-23 00:00:00+03:00   0.290744           0.0
2021-05-17 00:00:00+03:00   0.290744           0.0
2021-08-16 00:00:00+03:00   0.290744           0.0
2021-11-07 00:00:00+03:00   0.290744           0.0
2022-05-15 00:00:00+03:00   0.000000           1.1
2022-05-24 00:00:00+03:00   0.290727           0.0
2022-08-22 00:00:00+03:00   0.290727           0.0
2022-11-09 00:00:00+03:00   0.290727           0.0
2023-03-15 00:00:00+03:00   0.302364           0.0
2023-05-09 00:00:00+03:00   0.000000           1.1
2023-05-17 00:00:00+03:00   0.302400           0.0
2023-09-11 00:00:00+03:00   0.153000           0.0
2023-11-15 00:00:00+03:00   0.153000           0.0
2024-03-14 00:00:00+03:00   0.167000           0.0

In [106]:
print(round((saudiaramco.actions['2023-01-01':'2023-12-31']['Dividends'].sum()/saudiaramco_daily.loc['2023-12-31']['Adj Close'])*100,1))

2.8

In [104]:
saudiaramco_daily.loc['2023-12-31']['Adj Close']

32.82804870605469

In [73]:
berkshire = yf.Ticker("BRK-B")
berkshire.actions

                           Dividends  Stock Splits
Date
2010-01-21 00:00:00-05:00        0.0          50.0

In [74]:
print(round((berkshire.actions['2023-01-01':'2023-12-31']['Dividends'].sum()/berkhath_daily.loc['2023-12-29']['Adj Close'])*100,1))

0.0

In [75]:
aple = yf.Ticker("AAPL")
aple.actions

                           Dividends  Stock Splits
Date
1987-05-11 00:00:00-04:00   0.000536           0.0
1987-06-16 00:00:00-04:00   0.000000           2.0
1987-08-10 00:00:00-04:00   0.000536           0.0
1987-11-17 00:00:00-05:00   0.000714           0.0
1988-02-12 00:00:00-05:00   0.000714           0.0
...                              ...           ...
2023-02-10 00:00:00-05:00   0.230000           0.0
2023-05-12 00:00:00-04:00   0.240000           0.0
2023-08-11 00:00:00-04:00   0.240000           0.0
2023-11-10 00:00:00-05:00   0.240000           0.0
2024-02-09 00:00:00-05:00   0.240000           0.0

[87 rows x 2 columns]

In [76]:
print(round((aple.actions['2023-01-01':'2023-12-31']['Dividends'].sum()/apple_daily.loc['2023-12-29']['Adj Close'])*100,1))

0.5

In [77]:
msft = yf.Ticker("MSFT")
msft.actions

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2023-02-15 00:00:00-05:00       0.68           0.0
2023-05-17 00:00:00-04:00       0.68           0.0
2023-08-16 00:00:00-04:00       0.68           0.0
2023-11-15 00:00:00-05:00       0.75           0.0
2024-02-14 00:00:00-05:00       0.75           0.0

[90 rows x 2 columns]

In [78]:
print(round((msft.actions['2023-01-01':'2023-12-31']['Dividends'].sum()/micro_daily.loc['2023-12-29']['Adj Close'])*100,1))

0.7

In [79]:
goog = yf.Ticker("GOOG")
goog.actions

                           Dividends  Stock Splits
Date
2014-03-27 00:00:00-04:00        0.0      2.002000
2015-04-27 00:00:00-04:00        0.0      1.002746
2022-07-18 00:00:00-04:00        0.0     20.000000

In [80]:
print(round((goog.actions['2023-01-01':'2023-12-31']['Dividends'].sum()/google_daily.loc['2023-12-29']['Adj Close'])*100,1))

0.0

In [81]:
jpm = yf.Ticker("JPM")
jpm.actions['2023-01-01':'2023-12-31']

                           Dividends  Stock Splits
Date
2023-01-05 00:00:00-05:00       1.00           0.0
2023-04-05 00:00:00-04:00       1.00           0.0
2023-07-05 00:00:00-04:00       1.00           0.0
2023-10-05 00:00:00-04:00       1.05           0.0

In [82]:
print(round((jpm.actions['2023-01-01':'2023-12-31']['Dividends'].sum()/jpmc_daily.loc['2023-12-29']['Adj Close'])*100,1))

2.4